<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="ion-padding">
    <br />
    <br />
    <ion-list>
      <ion-item>
        <ion-label> Ingrese la Fecha: </ion-label>
        <ion-input [(ngModel)]="Date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> Ingrese el Titulo: </ion-label>
        <ion-input [(ngModel)]="Title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> Ingrese la Descripcion: </ion-label>
        <ion-input [(ngModel)]="Description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> Cargue Foto: </ion-label>
        <ion-input [(ngModel)]="Photo"></ion-input>
      </ion-item>
    </ion-list>
    <br />
    <br />
    <ion-button
      expand="block"
      (click)="CreateRegister()"
      [routerLink]="['/vista']"
      >Agregar</ion-button
    >
  </div>
</ion-content>
